* {margin:0; padding:0;}

body{
    background:rgb(191, 149, 242);
    font-family:'Times New Roman', Times, serif;
}
header{
    width:100%;
    background: rgb(156, 107, 220);
    padding:20px 20px;
    align-items:center;
    text-align:center;
}
.logo{
    font-size:30px;
    color: rgb(37, 13, 65);
    background:rgba(255, 255, 255, 0);
}
.h3{
    font-size:12px;
    color: rgb(37, 13, 65);
    background:rgba(227, 141, 141, 0);
    font-family:Trebuchet;
    padding:5px;
}
.saludo{
    font-size:20px;
    color: rgb(37, 13, 65);
    text-align: center;
    background: rgba(183, 204, 50, 0);
}
.contenedor1{
    background: rgba(247, 0, 202, 0);
    width:90%;
    margin:90px auto;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex:wrap;
    flex-direction: column;
}
.contenidotextos{
    width:70%;
    background: rgba(121, 84, 255, 0);
    text-align:justify;
    font-size:18px;
    padding:20px 20px;
}
.subcontenedor1{
    width: 90px;
}.titulo1{
    background:rgba(255, 255, 255, 0);
    width:80%;
    font-size:30px;
    color:  rgb(37, 13, 65);
    text-align: center;
    border-bottom:3px solid rgb(78, 255, 75);
    border-top:3px solid rgb(78, 255, 75);
}
.subcontenedor2{
    width:80%;
    background: rgba(212, 114, 62, 0);
    justify-content:space-between;
    padding:50px 50px;
    margin:20px auto;
    display:inline-flex;
    justify-content:center;
    align-items: center;
    flex:wrap;
}
.subcontenedor2 .contenidotextos{
    width:70%;
    background: rgba(121, 84, 255, 0);
    text-align:justify;
    font-size:18px;
    padding:20px 20px;
}
.subtitulo{
    font-size:20px;
    color: rgb(37, 13, 65);
    text-align: center;
    background: rgba(189, 214, 24, 0);
    margin-bottom:10px;
}
.imgsubcontenedor{
    width:400px;
    height:300px;
    align-self:center;
    margin:10px;
}
.bigimgsubcontenedor{
    width:400px;
    max-height:500px;
    align-self:center;
    margin:10px;
}
h2{
    color: rgb(37, 13, 65);
    font-size: 20px;
    text-align:center;
    padding:8px 0px 9px 0px;
}
video{
    background:rgb(86, 129, 31);
    margin:10px;
}
.despedida{
    width:80%;
    background: rgba(121, 84, 255, 0);
    text-align:justify;
    font-size:18px;
    padding:20px 20px;
}
.contenidotextosvagon{
    background: rgba(121, 84, 255, 0);
    display:flex;
    flex-wrap:wrap;
    width:90%;
    height:none;
    margin:none;
    justify-content:space-evenly;
}
.imagen-vagon{
    width:10%;
    height:auto;
    margin-bottom:5px;
    position:relative;
    cursor:pointer;
}
.imagen-vagon > a img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
.flotar-galeria{
    position:absolute;
    width:100%;
    height:100%;
    top: 0%;
    /*transform: scale(0);*/
    background: rgba(211, 178, 162, 0.399);
    transition:transform .5s;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.flotar-galeria img{
    width:80%;
    overflow: hidden;
}
.flotar-galeria p{
    text-align:center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size:15px;
}
.imagen-vagon:hover .flotar-galeria{
    transform: scale(0);
}
.barra{
    width:90%;
    display:flex;
    text-align:center;
}
.anterior,
.posterior,
.pagina{
    color: rgb(35, 14, 57);
    font-size:16px;
    text-decoration:none;
    border-bottom:2px solid rgb(78, 255, 75);
}


footer{
    width:100%;
    background: rgb(156, 107, 220);
    padding:20px 20px;
    align-items:center;
    text-align:center;
}
.contenedor-footer{
    width:90%;
    background:rgba(255, 0, 0, 0);
    justify-content:space-evenly;
    margin:0 auto;
    padding-bottom: 20px;
    border-bottom:2px solid rgba(30, 242, 27, 0.73);
    align-items:center;
    text-align: center;
}
.content-foo{
    background:rgba(217, 195, 71, 0);
    text-align:center;
    display:inline-block;
    padding:5px;
    line-height:1.6rem;
}
.content-foo a{
    background:rgba(21, 134, 220, 0);
    color: rgb(35, 14, 57);
    border-bottom:2px solid rgb(102, 254, 36);
    text-decoration: none;
}
.content-foo a:hover{
    color:rgb(255, 4, 209);
    -webkit-transition:all 500ms easy;
    -o-transition: all 500ms easy;
    transition:all 500ms easy;
}
.titulofinal-footer{
    background:none;
    text-align: center;
    font-size:24px;
    margin:20px 0px 0px 0px;
    color: rgb(35, 14, 57);
    margin-bottom: 5mm;
}

