* {margin:0; padding:0; box-sizing:border-box;}

body{
    background:rgb(159, 105, 212);
    font-family:'Times New Roman', Times, serif;
}
.wrapper{
    width:100%;
    max-width:1200px;
    margin:auto;
    overflow:hidden;
}
header{
    color:rgb(159, 105, 212);
    background: rgb(23, 2, 36);
    margin:0%;
    display:flex;
    align-items:center;
    height: 85px;
    padding:5px 10%;
}
header .c1 img{
    height:70px;
    width:auto;
    transition:all 0.3s;
    cursor:pointer;
}
header h1{
   font-size:5mm;
   margin:16px;;
}
header .c1 img:hover{
    transform:scale(.9);
}
.c1 .titulo1{
    padding:2% 0% 1% 0%;
    font-size: 9mm;
    color: rgb(37, 13, 65);
    text-align: center;
    background:rgba(255, 255, 255, 0.34);
    margin:2% 0% 0% 0%;
}
.c2{
    background: rgba(255, 255, 255, 0);
    justify-content:space-evenly;
    display:inline-flex;
    padding:2% 0% 2% 0%;
    margin:2% 0% 2% 0%;
}
.c2 .contenido-textos{
    width:50%;
    text-align:justify;
    font-size:18px;
}
.estampas{
    min-height:80vh;
    width:60%;
    margin:0 auto;

    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap:30px;
}

.estampas1{
    width:100%;
    height:100%;
    object-fit: cover;
}
.subcontenedor2{
    background: rgba(245, 243, 243, 0);
    justify-content:space-evenly;
    padding:20px 20px;
    margin:10px auto;
}
.vagon h2{
    color: rgb(37, 13, 65);
    font-size: 20px;
    text-align:center;
    padding:8px 0px 9px 0px;
}
.galeria-vagon{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:none;
    margin:none;
    justify-content:space-evenly;
}
.imagen-vagon{
    width:10%;
    height:auto;
    margin-bottom:5px;
    position:relative;
    cursor:pointer;
}
.imagen-vagon > a img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
.flotar-galeria{
    position:absolute;
    width:100%;
    height:100%;
    top: 0%;
    /*transform: scale(0);*/
    background: rgba(211, 178, 162, 0.399);
    transition:transform .5s;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.flotar-galeria img{
    width:80%;
    overflow: hidden;
}
.flotar-galeria p{
    text-align:center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size:15px;
}
.imagen-vagon:hover .flotar-galeria{
    transform: scale(0);
}
footer{
    background: rgb(23, 2, 36);
    color:rgb(159, 105, 212);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding:20px 20px;
}
.contenedorfooter{
    width:auto;
    background:rgba(255, 0, 0, 0);
    justify-content:space-between;
    border-bottom:2px solid rgba(30, 242, 27, 0.73);
    align-items:center;
    text-align: center;
    padding-bottom:20px;
}
.contentfoo{
    background:rgba(217, 195, 71, 0);
    text-align:center;
    display:inline-block;
}
.contentfoo a{
    font-size:20px;
    background:rgba(21, 134, 220, 0);
    border-bottom:2px solid rgba(30, 242, 27, 0.73);
    text-decoration: none;
    text-align: center;
    margin:50px;
}
.contentfoo a:hover{
    color:rgb(159, 105, 212);
    -webkit-transition:all 500ms easy;
    -o-transition: all 500ms easy;
    transition:all 500ms easy;
}
.tituloprefinal{
    font-size:20px;
    background:rgba(21, 134, 220, 0);
    text-decoration: none;
    text-align: center;
    padding:10px 10px;
}
.titulofinalfooter{
    font-size:30px;
    background:rgba(21, 134, 220, 0);
    text-decoration: none;
    text-align: center;
    padding:10px 10px;
}