* {margin:0; padding:0; box-sizing: border-box;}


body{
    background:rgb(180, 100, 242);
    font-family:'Times New Roman', Times, serif;
}
header{
    width:100%;
    background: rgb(134, 48, 188);
    text-align:center;
    padding:20px 20px;
}
.logo{
    font-size:30px;
    color: rgb(37, 13, 65);
    background:rgba(255, 255, 255, 0);
}
.prelogo{
    font-size:20px;
    color: rgb(37, 13, 65);
    background:rgba(227, 141, 141, 0);
    font-family:Trebuchet;
}
.menu{
    font-size:20px;
    color: rgb(37, 13, 65);
    background:rgba(63, 230, 236, 0);
    margin:5px 0;
    list-style: none;
    flex-direction: column;
}
.menu nav{
    display:inline-flex;
    padding:0 20px;
}
.logo2 img{
    height:70px;
    width:auto;
    transition:all 0.3s;
    cursor:pointer;
}
.menu a{
    text-decoration: none;
    color:rgb(37, 13, 65);
}
.menu a:hover{
    color: rgb(255, 255, 255);
}
.contenedor1{
    background: rgba(247, 0, 202, 0);
    width:90%;
    min-width:200px;
    max-width:3000px;
    margin:50px auto;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex:wrap;
    flex-direction: column;
}
.subcontenedor2{
    width:80%;
    min-width:200px;
    max-width:3000px;
    background: rgba(212, 114, 62, 0);
    justify-content:space-between;
    margin:20px auto;
    display:inline-flex;
    justify-content:center;
    align-items: center;
    flex:wrap;
    padding:20px 20px;
}
.imgsubcontenedor{
    width:400px;
    height:300px;
    align-self:center;
}
.contenidotextos{
    max-width:80%;
    min-width:50%;
    margin:10px;
    background: rgba(121, 84, 255, 0);
    text-align:justify;
    font-size:18px;
    padding:20px 20px;
}
.saludo{
    font-size:25px;
    color: rgb(37, 13, 65);
    text-align: center;
    background: rgba(183, 204, 50, 0);
}
.subcontenedor1{
    width: 90px;
    margin:10px;
    padding:20px 20px;
}
.titulo1{
    background:rgba(255, 255, 255, 0);
    width:80%;
    font-size:30px;
    color:  rgb(37, 13, 65);
    text-align: center;
    border-bottom:3px solid rgb(78, 255, 75);
    border-top:3px solid rgb(78, 255, 75);
}
.subtitulo{
    font-size:20px;
    color: rgb(37, 13, 65);
    text-align: center;
    background: rgba(158, 177, 33, 0);
    margin-bottom:10px;
}
.bigimgsubcontenedor{
    width:400px;
    max-height:500px;
    align-self:center;
}
.subcontenedor2 video{
    background:rgb(86, 129, 31);
    margin:10px;
}
.despedida{
    font-size:20px;
    color: rgb(37, 13, 65);
    text-align: center;
    background: rgba(158, 177, 33, 0);
    margin-bottom:10px;
}
.subcontenedor3{
    background: rgba(245, 243, 243, 0);
    justify-content:space-evenly;
    padding:20px 20px;
    margin:10px auto;
}
.vagon h2{
    color: rgb(37, 13, 65);
    font-size: 30px;
    text-align:center;
    padding:20px 20px;
    letter-spacing:8px;
}
.galeria-vagon{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:none;
    margin:none;
    justify-content:space-evenly;
}
.imagen-vagon{
    width:10%;
    height:auto;
    margin-bottom:5px;
    position:relative;
    cursor:pointer;
}
.imagen-vagon > a img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
.flotar-galeria{
    position:absolute;
    width:100%;
    height:100%;
    top: 0%;
    /*transform: scale(0);*/
    background: rgba(80, 51, 31, 0.288);
    transition:transform .5s;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.flotar-galeria img{
    width:80%;
    overflow: hidden;

}
.flotar-galeria p{
    text-align:center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size:15px;
}
.imagen-vagon:hover .flotar-galeria{
    transform:scale(0);
}
footer{
    background: rgb(134, 48, 188);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding:20px 20px;
}
.contenedorfooter{
    width:auto;
    background:rgba(255, 0, 0, 0);
    justify-content:space-between;
    border-bottom:2px solid rgba(30, 242, 27, 0.73);
    align-items:center;
    text-align: center;
    padding-bottom:20px;
}
.contentfoo{
    background:rgba(217, 195, 71, 0);
    text-align:center;
    display:inline-block;
}
.contentfoo a{
    font-size:20px;
    background:rgba(21, 134, 220, 0);
    color: rgb(35, 14, 57);
    border-bottom:2px solid rgba(30, 242, 27, 0.73);
    text-decoration: none;
    text-align: center;
    margin:50px;
}
.contentfoo a:hover{
    color:rgb(255, 255, 255);
    -webkit-transition:all 500ms easy;
    -o-transition: all 500ms easy;
    transition:all 500ms easy;
}
.tituloprefinal{
    font-size:20px;
    background:rgba(21, 134, 220, 0);
    color: rgb(35, 14, 57);
    text-decoration: none;
    text-align: center;
    padding:10px 10px;
}
.titulofinalfooter{
    font-size:30px;
    background:rgba(21, 134, 220, 0);
    color: rgb(35, 14, 57);
    text-decoration: none;
    text-align: center;
    padding:10px 10px;
}
